
body {
  font-size:100%;
  line-height:1.5;
}
* {
  box-sizing: border-box
}

h1, h2, h3, h4 {
  font-family: 'Chivo', sans-serif;
  font-weight: 10px;
  text-align: center;
  color: black;
}

// .main {
//   background-image:
// }

p {
  font-size: 15px;
  color: black;

}

.card-space {
  border-radius: 20px;
  justify-content: center;
}
.show-half {
  padding:1em;
  border-radius:5px;
  max-width:15em;
}
// .l-grid-half {
//   width: 50%;
// }

.l-flex-parent {
  display:flex;
  flex-direction:row;

}
.l-flex-child {
  padding:1em;
  min-height: 100vh;
  align-items: center;
  display:flex;
  justify-content: center;
  flex-direction: column;

}
.space-info {
  color:#fff;
}
.map-cal {
  background-color: #fff;
  color:  #7b5a9e;
}
.t-white .example-item {
  background:  #7b5a9e;
  color: #fff;
}

.t-purple .example-item {

  background:#fff;
  color:#000;
}

