<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
<%= simple_form_for ([@space, @booking]) do  |b|  %>
<div class="form-group row">
  <div class="col-md-4 mb-3">
  <%= b.input :theme , class: 'form-control' %>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-4 mb-3">
  <%= b.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
</div>
</div>
    <%= b.button :submit, class: 'btn btn-primary' %>
  <% end %>
  </div>
</div>

<!-- <script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>

 -->
