<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://spindlemagazine.com/wp-content/uploads/2013/05/found-warehouse.jpg');">
<div class="jumbotron" id="intro">
     <h1 style="color: #f87d42" id="spaceintro">PARTYMAKER</h1>
        <p style="color: #706381" id="spaceintro"><i>Find the perfect space to party</i></p>
   <p style="display:inline-block;;"><%= link_to 'LIST YOUR SPACE',spaces_path, class: "btn btn-primary" %></p>
  </div>
</div>
